/nbproject/private/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
.metadata_never_index

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### SublimeText ###
# SublimeText project files
*.sublime-workspace
*.sublime-project


### Node ###
build/
node_modules/
server-config.json