#mainColumn{height:100%;min-height:761px;}
#pixytlink{position:fixed;bottom:7px;right:7px;z-index:191782399;}
#pixytlink a{font-size:14px;color:rgba(140,145,150,0.5);text-shadow:0 0 5px rgba(255,255,255,0.2);font-weight:50;}
.bottommenu #pixytlink{top:7px;right:7px;}
.logged #pixytlink a{color:rgba(140,145,150,0.2);font-size:13px;text-shadow:0 0 5px rgba(255,255,255,0.1);}
.unlogged #pixytlink a:hover{color:#fff;text-shadow:0 0 5px rgba(255,255,255,0.6);}
.logged #pixytlink a:hover{color:rgba(255,255,255,0.6);}
.menuItem{font-size:18px;margin:0 6px 0 0;line-height:24px;letter-spacing:-1px;}
.menuItem.right{margin:0 0 0 6px;}
.mobile.site #menu {padding:10px;width:620px;margin:2px auto;clear:both;}
.mobile.site #menu .menuItem{font-size:21px;}
.mobile.tablet.site #menu{padding:12px;width:1000px;margin:4px 0;}
.mobile.tablet.site img.photo{width:100%;height:auto;}
.mobile.site #mainColumn .item{width:640px;margin:4px auto;}
.mobile.tablet.site #mainColumn .item{width:1024px;}
.topmenu #menu {position:fixed;z-index:95;width:98%;top:0;left:0;right:0;padding:1px 1%;text-align:right;line-height:32px;}
.topmenu #mainColumn>div:first-child{padding-top:44px;}
.topmenu #menu .logo{float:left;line-height:26px;}
.topmenu #menu h1{margin:0;}
.topmenu #menu .logo img{max-height:44px;width:auto;}
.site.topmenu .submenu{display:none;font-size:0.8em;}
.site.topmenu .getSubmenu:hover .submenu{display:block;width:98%;position:fixed;left:0;right:0;padding:5px 1%;}
.topmenu .subMenuItem{margin-left:8px;}
.getSubmenu:hover .submenu{display:block;}
.bottommenu #menu {position:fixed;z-index:95;width:100%;bottom:0;left:0;right:0;padding:1px;text-align:right;line-height:34px;}
.bottommenu #menu .logo{float:left;}
.bottommenu #menu .logo img{max-height:44px;width:auto;}
.site.bottommenu .submenu{display:none;font-size:0.8em;}
.site.bottommenu .getSubmenu:hover .submenu{display:block;width:98%;position:fixed;bottom:30px;left:0;right:0;padding:5px 1%;}
.bottommenu .subMenuItem{margin-left:8px;}
.bottommenu #menu h1{line-height:32px;}
.bottommenu #mainColumn{margin-bottom:44px;padding-top:8px;}
.leftmenu #menu {position:fixed;z-index:95;width:300px;top:0;padding-top:150px;left:0;height:100%;text-align:right;}
.leftmenu #menu .menuItem,.leftmenu #menu h1{display:block;margin-right:20px;}
.leftmenu .subMenuItem{margin-right:8px;}
.leftmenu #menu .logo img{width:280px;height:auto;}
.leftmenu #mainColumn{overflow:auto;left:300px;position:absolute;top:0;right:0;bottom:0;}
.rightmenu #menu {position:fixed;z-index:95;width:300px;top:0;right:0;height:100%;text-align:left;}
.rightmenu #menu .logo{display:block;margin-left:20px;font-size:36px;}
.rightmenu #menu .logo img{width:280px;height:auto;}
.rightmenu .subMenuItem{margin-left:8px;}
.rightmenu #menu .menuItem{display:block;margin-left:20px;}
.rightmenu #mainColumn{overflow:auto;margin-right:300px;}
.centermenu #mainColumn{overflow:auto;position:relative;}
.centermenu #menu{width:600px;margin:0 auto;}
.site.centermenu .submenu{display:none;font-size:0.8em;}
.site.centermenu .getSubmenu:hover .submenu{display:block;position:absolute;height:44px;margin:0 auto;top:55px;}
.topmenu .subMenuItem{margin-left:8px;}
#adminmenu{position:fixed;bottom:7px;left:7px;padding:2px;background-color:rgba(120,140,170,0.3);border-radius:10px;z-index:999;opacity:0.4;-webkit-transition-duration: 0.3s;-webkit-transition-timing: ease-out;-o-transition-duration: 0.3s;-o-transition-timing: ease-out;-moz-transition-duration: 0.3s;-moz-transition-timing: ease-out;-ms-transition-duration: 0.3s;-ms-transition-timing: ease-out;transition-duration: 0.3s;transition-timing: ease-out;height:44px;}
.bottommenu #adminmenu{top:7px;left:7px;}
#adminmenu:hover{opacity:1;box-shadow:0 0 12px rgba(200,220,255,0.2)}
#adminmenu a{margin-right:4px;height:44px;}
.bottommenu #menu h1{margin:0;}
.settings .editSiteLogo{height:40px;width:auto;background:rgba(120,120,120,0.1);padding:3px;border-radius:3px;}
.settings .element{margin:10px auto;border-bottom:2px dashed rgba(120,120,120,0.1);padding:10px 0;}
#siteActions{height:550px;position:fixed;left:0;width:120px;text-align:center;}
#siteActions a span.text{font-size:13px;color:#777;margin-bottom:20px;margin-top:-5px;}
.preview.selectable.smallthumb{width:80px;height:80px;border-radius:5px;background-color:#aaa;margin:2px;padding:10px;text-align:center;cursor:move;}
.slider{overflow:hidden;text-align:center;display:none;}
.fullscreen.slider{position:absolute;width:100%;height:100%;left:0;bottom:0;top:0;z-index:0;}
.fullscreen.slider .slide{position:absolute;width:100%;height:100%;left:0;bottom:0;z-index:0;}
.fullscreen.slider img{height:auto;width:100%;}
.slider .slide{text-align:center;top:0;height:100%;width:100%;display:none;position:absolute;}
.slider .slide.active{display:block;}
.slider .slide img.photo.h{width:100%;height:auto;}
.slider .slide img.photo.v{height:100%;width:auto;}
table.photoLine td{padding:20px 100px;}
table.photoLine .padded{padding:20px 10px 0 10px;}
table.photoLine h4{font-size:23px;text-align:center;}
table.photoLine tr.even{background:transparent;}
.site .menuItem img{margin-bottom:-3px;}
.site .comments{width:600px;margin:0 auto;}
.site .accesscode{line-height:34px;text-align:right;}
.site .accesscode input{width:140px;}
.site .accesscode button{width:30px;}
.site .item{position:relative;margin:10px auto;}
.site .item.article_item h3{margin:2px 0 10px 0;}
.site .item.contact{width:50%;padding:40px 20%;}
.site .permalink{position:absolute;top:5px;opacity:0;}
.site .item:hover .permalink{opacity:1;}
.siteLink{width:100px;height:104px;margin:3px;border-radius:2px;padding:2px;float:left;color:#aaa;background-color:#777;}
.siteLink:hover{background-color:#6192c7;}
.site .footer{color:#ccc;padding:10px;border-top:1px dashed #eee;text-align:right;}
.site .footer a{font-size:18px;margin-right:16px;line-height:24px;letter-spacing:-1px;}
.site .background{width:100%;height:100%;position:fixed;z-index:-1;top:0;left:0;}
.site .body{z-index:0;}
.sortable div{cursor:move;}
#editpages{width:30%;float:left;}
#editpages .page{padding:3px;border:5px solid #eee;border-radius:5px;margin:2px;}
#editpages .page .title{font-size:24px;color:#ddd;}
#editpages .page a{float:right;}
.editor{min-height:200px;min-width:90%;color:#fff;}
.toolbox h3{margin:0;}
.toolbox .btn{margin-top:9px;}
.toolbox .viewmode{margin-top:1px;}
.toolbox .viewmode .vertical{background:url("/img/viewmode.png") no-repeat;text-indent:-9999px;width:46px;height:35px;display:inline-block;}
.toolbox .viewmode .horizontal{background:url("/img/viewmode.png") -45px 0 no-repeat;text-indent:-9999px;width:46px;height:35px;display:inline-block;}
.toolbox .viewmode .thumbs{background:url("/img/viewmode.png") -90px 0 no-repeat;text-indent:-9999px;width:45px;height:35px;display:inline-block;}
.toolbox .viewmode .full{background:url("/img/viewmode.png") -135px 0 no-repeat;text-indent:-9999px;width:46px;height:35px;display:inline-block;}
.toolbox .viewmode .vertical:hover,.toolbox .viewmode .vertical.active{background:url("/img/viewmode.png") 0 -33px no-repeat;text-indent:-9999px;width:46px;height:35px;display:inline-block;}
.toolbox .viewmode .horizontal:hover,.toolbox .viewmode .horizontal.active{background:url("/img/viewmode.png") -45px -33px no-repeat;text-indent:-9999px;width:46px;height:35px;display:inline-block;}
.toolbox .viewmode .thumbs:hover,.toolbox .viewmode .thumbs.active{background:url("/img/viewmode.png") -90px -33px no-repeat;text-indent:-9999px;width:45px;height:35px;display:inline-block;}
.toolbox .viewmode .full:hover,.toolbox .viewmode .full.active{background:url("/img/viewmode.png") -135px -33px no-repeat;text-indent:-9999px;width:46px;height:35px;display:inline-block;}